<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/">WEBHERE CMS</a>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="/">Trang chủ</a></li>
        <li class="nav-item"><a class="nav-link" href="/products">Sản phẩm</a></li>
        <li class="nav-item"><a class="nav-link" href="/blog">Tin tức</a></li>
      </ul>
      
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle btn btn-outline-light btn-sm px-3 text-white" href="#" id="adminMenu" data-bs-toggle="dropdown">
            <i class="fas fa-user-cog me-1"></i> Quản trị CMS
          </a>
          <ul class="dropdown-menu dropdown-menu-end shadow">
            <li><a class="dropdown-item fw-bold" href="/admin"><i class="fas fa-chart-line me-2"></i>Bảng điều khiển</a></li>
            <li><hr class="dropdown-divider"></li>
            
            <li><h6 class="dropdown-header">Hàng hóa</h6></li>
            <li><a class="dropdown-item" href="/admin/products"><i class="fas fa-box me-2"></i>Sản phẩm</a></li>
            <li><a class="dropdown-item" href="/admin/categories"><i class="fas fa-tags me-2"></i>Danh mục sản phẩm</a></li>
            
            <li><hr class="dropdown-divider"></li>
            
            <li><h6 class="dropdown-header">Nội dung bài viết</h6></li>
            <li><a class="dropdown-item" href="/admin/posts"><i class="fas fa-newspaper me-2"></i>Bài viết</a></li>
            <li><a class="dropdown-item" href="/admin/blog-categories"><i class="fas fa-list-ul me-2"></i>Chuyên mục Blog</a></li>

            <li><hr class="dropdown-divider"></li>
            <li><h6 class="dropdown-header">Cấu hình hệ thống</h6></li>
            <li>
              <a class="dropdown-item" href="/admin/settings">
                <i class="fas fa-code me-2 text-primary"></i>Chèn Script (WPCode)
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>