<%- include('../partials/head.ejs') %>
<%- include('../partials/shop-header.ejs') %>

<main>
    <% if (homepage && homepage.sections) { %>
        <% 
            // Sắp xếp các khối theo thứ tự 'order'
            const activeSections = homepage.sections
                .filter(s => s.isActive)
                .sort((a, b) => a.order - b.order); 
        %>

        <% activeSections.forEach(section => { %>
            <%- include('../partials/home-blocks/' + section.type + '.ejs', { data: section.data, products: products }) %>
        <% }) %>
    <% } %>
</main>

<%- include('../partials/footer.ejs') %>